pdf/*
!pdf/steven-joseph-resume-pdf-02-2024.pdf
img/*
!img/happy-halloween1.png
!img/steven2.png
!img/steven3.png
!img/about2.jpeg
!img/gym-exercise-app-prev-img.png
!img/FoodRecommender-prev-img.png
!img/ecommerce-web-app-prev-img.png
!img/uber-clone-blockchain-prev-img.png
!img/commutervision-prev-img.jpg
!img/will-smith.png
!img/bats.png